In [13]:
import pandas as pd
import seaborn as p
data = pd.read_csv('bigml_59c28831336c6604c800002a.csv')
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [14]:
    print(data.columns)
    print(data.info())

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB
None

In [15]:
data.isnull().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [16]:
def duplicates(data=data):
    # Check for duplicates
    duplicates = data.duplicated().sum()
    
    print(f' {duplicates}')
    print(f' {round(duplicates/len(data) * 100, 2)}% of the total data is duplicates.')

    # Drop duplicated values:
    #data.drop_duplicates(subset=unique_id, keep='last', inplace=True)

duplicates(data)

 0
 0.0% of the total data is duplicates.

In [17]:
#checking for extraneous values to make sure there is no more missing data or unknown characters 
for col in data.columns:
    print(col,'\n', data[col].value_counts(normalize=True),'\n\n')

state
 WV    0.031803
MN    0.025203
NY    0.024902
AL    0.024002
WI    0.023402
OR    0.023402
OH    0.023402
VA    0.023102
WY    0.023102
CT    0.022202
MI    0.021902
VT    0.021902
ID    0.021902
TX    0.021602
UT    0.021602
IN    0.021302
MD    0.021002
KS    0.021002
NC    0.020402
MT    0.020402
NJ    0.020402
CO    0.019802
NV    0.019802
WA    0.019802
MS    0.019502
RI    0.019502
MA    0.019502
AZ    0.019202
MO    0.018902
FL    0.018902
NM    0.018602
ND    0.018602
ME    0.018602
DE    0.018302
OK    0.018302
NE    0.018302
SC    0.018002
SD    0.018002
KY    0.017702
IL    0.017402
NH    0.016802
AR    0.016502
DC    0.016202
GA    0.016202
HI    0.015902
TN    0.015902
AK    0.015602
LA    0.015302
PA    0.013501
IA    0.013201
CA    0.010201
Name: state, dtype: float64


account length
 105    0.012901
87     0.012601
93     0.012001
101    0.012001
90     0.011701
         ...
191    0.000300
199    0.000300
215    0.000300
221    0.000300
2      0.000300
Name: account length, Length: 212, dtype: float64


area code
 415    0.496550
510    0.252025
408    0.251425
Name: area code, dtype: float64


phone number
 410-5963    0.0003
353-3223    0.0003
386-6114    0.0003
368-8600    0.0003
384-1549    0.0003
             ...
335-4719    0.0003
421-5994    0.0003
334-2730    0.0003
337-3740    0.0003
402-6591    0.0003
Name: phone number, Length: 3333, dtype: float64


international plan
 no     0.90309
yes    0.09691
Name: international plan, dtype: float64


voice mail plan
 no     0.723372
yes    0.276628
Name: voice mail plan, dtype: float64


number vmail messages
 0     0.723372
31    0.018002
29    0.015902
28    0.015302
33    0.013801
27    0.013201
30    0.013201
24    0.012601
26    0.012301
32    0.012301
25    0.011101
23    0.010801
36    0.010201
35    0.009601
22    0.009601
39    0.009001
37    0.008701
34    0.008701
21    0.008401
38    0.007501
20    0.006601
19    0.005701
40    0.004800
42    0.004500
17    0.004200
41    0.003900
16    0.003900
43    0.002700
15    0.002700
18    0.002100
44    0.002100
14    0.002100
45    0.001800
12    0.001800
46    0.001200
13    0.001200
47    0.000900
8     0.000600
48    0.000600
50    0.000600
9     0.000600
11    0.000600
49    0.000300
10    0.000300
4     0.000300
51    0.000300
Name: number vmail messages, dtype: float64


total day minutes
 174.5    0.0024
159.5    0.0024
154.0    0.0024
175.4    0.0021
162.3    0.0021
          ...
199.9    0.0003
105.8    0.0003
125.6    0.0003
179.8    0.0003
270.8    0.0003
Name: total day minutes, Length: 1667, dtype: float64


total day calls
 102    0.023402
105    0.022502
107    0.020702
95     0.020702
104    0.020402
         ...
149    0.000300
157    0.000300
36     0.000300
30     0.000300
165    0.000300
Name: total day calls, Length: 119, dtype: float64


total day charge
 27.12    0.0024
26.18    0.0024
29.67    0.0024
31.18    0.0021
27.59    0.0021
          ...
19.36    0.0003
16.95    0.0003
34.12    0.0003
48.35    0.0003
13.28    0.0003
Name: total day charge, Length: 1667, dtype: float64


total eve minutes
 169.9    0.0027
230.9    0.0021
209.4    0.0021
201.0    0.0021
220.6    0.0021
          ...
335.0    0.0003
258.9    0.0003
134.7    0.0003
318.8    0.0003
317.2    0.0003
Name: total eve minutes, Length: 1611, dtype: float64


total eve calls
 105    0.024002
94     0.023702
108    0.021302
97     0.021002
102    0.021002
         ...
45     0.000300
49     0.000300
145    0.000300
153    0.000300
0      0.000300
Name: total eve calls, Length: 123, dtype: float64


total eve charge
 14.25    0.0033
16.12    0.0033
15.90    0.0030
18.62    0.0027
14.44    0.0027
          ...
12.64    0.0003
13.83    0.0003
11.39    0.0003
28.03    0.0003
20.53    0.0003
Name: total eve charge, Length: 1440, dtype: float64


total night minutes
 210.0    0.0024
214.6    0.0024
197.4    0.0024
191.4    0.0024
188.2    0.0024
          ...
132.3    0.0003
306.2    0.0003
293.5    0.0003
271.7    0.0003
182.6    0.0003
Name: total night minutes, Length: 1591, dtype: float64


total night calls
 105    0.025203
104    0.023402
91     0.022802
102    0.021602
100    0.020702
         ...
164    0.000300
166    0.000300
33     0.000300
149    0.000300
36     0.000300
Name: total night calls, Length: 120, dtype: float64


total night charge
 9.66     0.0045
9.45     0.0045
8.88     0.0042
8.47     0.0042
7.69     0.0039
          ...
14.65    0.0003
6.46     0.0003
3.94     0.0003
15.74    0.0003
6.14     0.0003
Name: total night charge, Length: 933, dtype: float64


total intl minutes
 10.0    0.018602
11.3    0.017702
9.8     0.016802
10.9    0.016802
10.1    0.015902
          ...
18.9    0.000300
1.3     0.000300
2.7     0.000300
2.6     0.000300
3.1     0.000300
Name: total intl minutes, Length: 162, dtype: float64


total intl calls
 3     0.200420
4     0.185719
2     0.146715
5     0.141614
6     0.100810
7     0.065407
1     0.048005
8     0.034803
9     0.032703
10    0.015002
11    0.008401
0     0.005401
12    0.004500
13    0.004200
15    0.002100
14    0.001800
18    0.000900
16    0.000600
19    0.000300
17    0.000300
20    0.000300
Name: total intl calls, dtype: float64


total intl charge
 2.70    0.018602
3.05    0.017702
2.65    0.016802
2.94    0.016802
2.73    0.015902
          ...
0.68    0.000300
4.83    0.000300
0.84    0.000300
0.30    0.000300
5.40    0.000300
Name: total intl charge, Length: 162, dtype: float64


customer service calls
 1    0.354335
2    0.227723
0    0.209121
3    0.128713
4    0.049805
5    0.019802
6    0.006601
7    0.002700
9    0.000600
8    0.000600
Name: customer service calls, dtype: float64


churn
 False    0.855086
True     0.144914
Name: churn, dtype: float64

In [18]:
data.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [20]:
sns.displot(data=data, hue=target' kind = 'kde',fill ='True')

SyntaxError: invalid syntax (<ipython-input-20-c2711e393c24>, line 1)